@{
    ViewData["Title"] = "Úvodní stránka";

}

<script>

    var config = {
        displayModeBar: false, responsive: true
    };
    var heightValue = 300;
    var widthValue = 400;

    var biggerWidth = 750;
    var yearS;
    const statementCounts = @Html.Raw(Json.Serialize(ViewBag.statementCounts));
    const uniquePoliticians = @Html.Raw(Json.Serialize(ViewBag.uniquePoliticians));

    const avgstatements = @Html.Raw(Json.Serialize(ViewBag.avgstatements));
    const medianstatements = @Html.Raw(Json.Serialize(ViewBag.medianstatements));


    const statementCountsFB = @Html.Raw(Json.Serialize(ViewBag.statementCountsFB));
    const uniquePoliticiansFB = @Html.Raw(Json.Serialize(ViewBag.uniquePoliticiansFB));

    const statementCountsTW = @Html.Raw(Json.Serialize(ViewBag.statementCountsTW));
    const uniquePoliticiansTW = @Html.Raw(Json.Serialize(ViewBag.uniquePoliticiansTW));
    var polaritycounts = @Html.Raw(Json.Serialize(ViewBag.polaritycounts));
    var stCountYears = @Html.Raw(Json.Serialize(ViewBag.st_count_years));
    var server_count = @Html.Raw(Json.Serialize(ViewBag.server_count));
    var piechartAll = @Html.Raw(Json.Serialize(ViewBag.piechartAll));
    var emotionAll = @Html.Raw(Json.Serialize(ViewBag.emotionAll));
    var data = @Html.Raw(Json.Serialize(ViewBag.politicCountsAll));
    var piechartAll_names = @Html.Raw(Json.Serialize(ViewBag.piechartAll_names));
    var partyData = @Html.Raw(Json.Serialize(ViewBag.partyCounts));
    var check = @Html.Raw(Json.Serialize(ViewBag.check));
    $(document).ready(function () {
        var politiciInfo = @Html.Raw(Json.Serialize(ViewBag.politici)); 
        var top_politics = [
            "andrej-babis", "tomio-okamura", "lubomir-volny", "adam-vojtech", "miroslav-kalousek",
            "alena-schillerova", "pavel-belobradek", "petr-fiala", "karel-havlicek", "milos-zeman"];
      
            
        var detailUrlTemplate = '@Url.Action("PoliticDetail", "Home", new { politic_id = "__PID__" })';
        var detailUrlTemplateL = '@Url.Action("PoliticDetailLight", "Home", new { politic_id = "__PID__" })';
        var detailUrlTemplateList = '@Url.Action("PoliticianList", "Home")';
        $('#search').on('input', function () {
            var query = removeDiacritics($(this).val().toLowerCase()); 

            if (query.trim() === "") {
                $('#suggestions').hide();
                return;
            }

            var queryParts = query.split(' ').filter(function (part) {
                return part.length > 0; 
            });

            var filteredPolitici = politiciInfo.filter(function (politik) {
                var politicNameNormalized = removeDiacritics(politik.politic_id.toLowerCase());
                return queryParts.every(function (part) {
                    return politicNameNormalized.includes(part); 
                });
            });

           
            filteredPolitici = filteredPolitici.slice(0, 5);

            if (filteredPolitici.length > 0) {
                $('#suggestions').empty().show(); 
                filteredPolitici.forEach(function (politik) {
                    var pid = politik.politic_id; 
                    var party = politik.organizace; 
                    var statementCount = politik.count; 

                    var listItem = $('<li class="list-group-item d-flex justify-content-between align-items-center" style="cursor: pointer;"></li>');

                    var listItem = $('<li class="list-group-item d-flex flex-column justify-content-between align-items-start" style="cursor: pointer; transition: background-color 0.3s;"></li>');

                    if (top_politics.includes(pid)) {
                        listItem.on('click', function () {
                            window.location.href = detailUrlTemplate.replace('__PID__', pid);
                        });
                    } else if(pid in check){
                        listItem.on('click', function () {
                            window.location.href = detailUrlTemplateL.replace('__PID__', pid); 
                        });
                    }else{
                        listItem.on('click', function () {
                            window.location.href = detailUrlTemplateList;
                        });
                    }
                    

                    var mainText = $('<span class="h5 mb-1"></span>').text(pid.replace('-', ' ')); 
                    listItem.append(mainText);

                    var additionalText = $('<span class="text-muted d-flex flex-column"></span>');
                    additionalText.append('<span>' + party + '</span>');  
                    additionalText.append('<span style="background-color: #B3C8CF;" class="badge mt-1 ">Počet vyjádření: ' + statementCount + '</span>');  
                    listItem.append(additionalText);

                    listItem.hover(
                        function () {
                            $(this).css('background-color', '#f0f8ff'); 
                        },
                        function () {
                            $(this).css('background-color', ''); 
                        }
                    );


                    $('#suggestions').append(listItem);
                });
            } else {
                $('#suggestions').hide(); 
            }
        });

       
        $(document).click(function (e) {
            if (!$(e.target).closest('#search').length) {
                $('#suggestions').hide();
            }
        });
    });

    function showPartyCount() {


        var parties = partyData.map(d => d.party);
        var counts = partyData.map(d => d.count);

        parties.reverse();
        counts.reverse();
        var trace = {
            x: counts,
            y: parties,
            type: 'bar',
            orientation: 'h'

        };

        var layout = {
            title: '',
            font: {
                size: 13
            },
            yaxis: {
                title: '',
                automargin: true,
                tickpadding: 20,
                ticks: 'outside'
            },  
            xaxis: { title: '' },  
            autosize:true,
            margin: {
                l: 75,
                r: 0,
                t: 35,
                b: 60
            }
        };

        Plotly.newPlot('partyBar', [trace], layout,config);
    }
    function removeDiacritics(str) {
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
    }
    function showpolaritycounts(year) {
        polaritycountsY = polaritycounts[year] || polaritycounts["all"]
        var trace = {
            x: polaritycountsY,
            type: 'histogram',
            xbins: { size: 0.2 },
            marker: {
                color: 'rgba(55, 128, 191, 0.7)',
                line: {
                    color: 'rgba(55, 128, 191, 1)',
                    width: 1
                }
            },
            paper_bgcolor: 'white',
            plot_bgcolor: 'white'

        };

        var layout = {

            xaxis: { title: '', range: [-1, 1], tickvals: [-0.9, -0.7, -0.5, -0.3, -0.1, 0.1, 0.3, 0.5, 0.7, 0.9] },
            yaxis: { title: '' },
            autosize:true,
            innerWidth: null,
            margin: {
                l: 35,
                r: 15,
                t: 20,
                b: 45
            }
        };


        Plotly.newPlot('polaritybar', [trace], layout,config);
    }
    function plotYearCount() {


        var data = [{
            x: Object.keys(stCountYears),
            y: Object.values(stCountYears),
            type: 'bar',
            marker: {
                color: 'rgba(55, 128, 191, 0.7)',
                line: {
                    color: 'rgba(55, 128, 191, 1)',
                    width: 1
                }
            },
            text: Object.keys(stCountYears),
            hoverinfo: 'text+y',
        }];

        var layout = {
            xaxis: {
                title: '',
                tickangle: 45,
                tickmode: 'array',
                tickvals: Object.keys(stCountYears),
                ticktext: Object.keys(stCountYears)
            },
            yaxis: {
                title: '',
                tickformat: ',.0f',
                rangemode: 'tozero'
            },
            barmode: 'group',
            autosize: true,
            margin: {
                l: 35,
                r: 35,
                t: 20,
                b: 45
            },
            paper_bgcolor: 'white',
            plot_bgcolor: 'white',
            font: {
                family: 'Arial, sans-serif',
                size: 14,
                color: '#333'
            },
            hoverlabel: {
                bgcolor: '#ffffff',
                font: {
                    color: '#333',
                }
            }
        };


        Plotly.newPlot('count_years', data, layout, config);

    }
    function server_bar() {
        var data = server_count;

        var facebookCount = data.facebook;
        var twitterCount = data.twitter;
        var retweetCount = data.retweets;
        var normalTweetCount = data.normalTweets;


        var chartData = [
            {
                x: ['Facebook'],
                y: [facebookCount],
                type: 'bar',
                name: 'Facebook',
                marker: {
                    color: '#3b5998',
                }
            },
            {
                x: ['Twitter'],
                y: [normalTweetCount],
                type: 'bar',
                name: 'Tweety',
                marker: {
                    color: '#1da1f2',
                }
            },
            {
                x: ['Twitter'],
                y: [retweetCount],
                type: 'bar',
                name: 'Retweety',
                marker: {
                    color: '#ff5733',
                }
            }

        ];


        var layout = {
            title: {


            },
            xaxis: {
                title: '',
            },
            yaxis: {
                title: '',

            },
            autosize:true,
            margin: {
                l: 35,
                r: 25,
                t: 20,
                b: 45
            },
            barmode: 'stack',
            showlegend: true,
            paper_bgcolor: 'white',
            plot_bgcolor: 'white'

        };


        Plotly.newPlot('server_count', chartData, layout, config);
    }
    function drawPieChart(data, id) {

        var chartData = {
            labels: data.map(function (e) { return e.entityText; }),
            values: data.map(function (e) { return e.frequency; }),
            type: 'pie',
            marker: {
                colors: [
                    '#FF6347', '#FF4500', '#FFD700', '#ADFF2F', '#32CD32', '#00FA9A', '#00CED1', '#4682B4',
                    '#6A5ACD', '#8A2BE2', '#D2691E', '#FF1493', '#FF8C00', '#F08080', '#20B2AA', '#B0E0E6',
                    '#B22222', '#FF00FF', '#FF6347', '#98FB98', '#8B4513', '#DAA520', '#40E0D0', '#D8BFD8',
                    '#C71585', '#FF1493', '#FF4500', '#7B68EE', '#FF77FF', '#FF5500', '#6495ED', '#FF8C69'
                ]
            },

            textinfo: 'label',
            textposition: 'inside',
            hoverinfo: 'label+value'

        };

        var layout = {

            margin: { t: 10, r: 10, b: 10, l: 10 },
            showlegend: false,
           autosize:true,
            paper_bgcolor: 'white',
            plot_bgcolor: 'white'

        };




        Plotly.newPlot(id, [chartData], layout, config);

    }
    function drawEmotionDist(data, id) {
        var emotionData = data;
        var emotionMapping = {
            'anger': 'Hněv',
            'anticipation': 'Očekávání',
            'disgust': 'Znechucení',
            'fear': 'Strach',
            'joy': 'Radost',
            'love': 'Láska',
            'optimism': 'Optimismus',
            'pessimism': 'Pesimismus',
            'sadness': 'Smutek',
            'surprise': 'Překvapení',
            'trust': 'Důvěra'
        };

        var emotions = emotionData.map(function (item) {
            return emotionMapping[item.emotion] || item.emotion;  
        });

        var counts = emotionData.map(function (item) { return item.count; });

        var data = [{
            y: emotions, 
            x: counts,
            type: 'bar',
            orientation: 'h'
        }];

        var layout = {
            title: '',
            font: {
                size: 13
            },
            yaxis: {
                title: '',
                automargin: true,
                tickpadding: 20,
                ticks: 'outside'
            }, 
            xaxis: { title: '' }, 
            autosize: true,
            margin: {
                l: 75,
                r: 0,
                t: 35,
                b: 60
            }
        };

        Plotly.newPlot(id, data, layout);
    }

    function renderTableForYear(year) {



        var dataY = data[year] || data["all"];

        var tableData = [];
        for (var osobaId in dataY) {
            tableData.push({
                year: year,
                osobaId: osobaId,
                count: dataY[osobaId]
            });
        }

        var tbody = document.getElementById('statementsTable').getElementsByTagName('tbody')[0];
        tbody.innerHTML = '';

        tableData.forEach(function (item) {
            var row = tbody.insertRow();

            var cellOsobaId = row.insertCell(0);
            var cellCount = row.insertCell(1);

            cellOsobaId.textContent = item.osobaId;
            cellCount.textContent = item.count;
        });

        var row = tbody.insertRow();

        var cell = row.insertCell(0);
        cell.colSpan = 2; 
        var link = document.createElement('a');


        link.setAttribute('href', '/Home/PoliticianList');
        link.classList.add("mylink"); 
        link.innerHTML = "Zobrazit více &#10230;";


        cell.appendChild(link);
    }

    function showStatistics(year) {

        const stats = {
            totalStatements: statementCounts[year] || statementCounts["all"],
            totalPersons: uniquePoliticians[year] || uniquePoliticians["all"],
            avgStatementsPerPerson: avgstatements[year] || avgstatements["all"],
            medianStatementsPerPerson: medianstatements[year] || medianstatements["all"],
            totalStatementsFB: statementCountsFB[year] || statementCountsFB["all"],
            totalPersonsFB: uniquePoliticiansFB[year] || uniquePoliticiansFB["all"],
            totalStatementsTW: statementCountsTW[year] || statementCountsTW["all"],
            totalPersonsTW: uniquePoliticiansTW[year] || uniquePoliticiansTW["all"],
        };

        document.getElementById("totalStatements").innerText = stats.totalStatements || 0;
        document.getElementById("totalPersons").innerText = stats.totalPersons || 0;
        document.getElementById("avgStatementsPerPerson").innerText = stats.avgStatementsPerPerson.toFixed(2) || 0;
        document.getElementById("medianStatementsPerPerson").innerText = stats.medianStatementsPerPerson || 0;

        document.getElementById("totalStatementsFB").innerText = stats.totalStatementsFB || 0;
        document.getElementById("totalStatementsTW").innerText = stats.totalStatementsTW || 0;
        document.getElementById("totalPersonsFB").innerText = stats.totalPersonsFB || 0;
        document.getElementById("totalPersonsTW").innerText = stats.totalPersonsTW || 0;



    }
    document.addEventListener("DOMContentLoaded", function () {
        showStatistics();
        showpolaritycounts();
        plotYearCount();
        server_bar();
        drawPieChart(piechartAll, "nerAll", "", "")
        drawPieChart(piechartAll_names, "nerNames", "", "")
        drawEmotionDist(emotionAll, "emoce_distribuce")
        renderTableForYear();
        showPartyCount();
    });
</script>


<div class="chart-card">
    <div class="chart-header">
        <h2 class="chart-title">Analýza politických příspěvků na sociálních sítích</h2>
        <p class="chart-subtitle">
            Vítejte na stránce zobrazující analýzu politických příspěvků z Facebooku a Twitteru. Analýza je rozdělena do několika kategorií:
        </p>
        <p>
            <ul class="chart-subtitle">
                <li><a class="mylink" asp-area="" asp-controller="Home" asp-action="StatementCount">Analýza frekvence příspěvků</a></li>
                <li><a class="mylink" asp-area="" asp-controller="Home" asp-action="Length">Analýza délky příspěvků</a></li>
                <li><a class="mylink" asp-area="" asp-controller="Home" asp-action="Mentions">Analýza zmínek politiků</a></li>
                <li><a class="mylink" asp-area="" asp-controller="Home" asp-action="Sentiment">Analýza sentimentu</a></li>
                <li><a class="mylink" asp-area="" asp-controller="Home" asp-action="Emotions">Analýza emocí</a></li>
                <li><a class="mylink" asp-area="" asp-controller="Home" asp-action="NER">Analýza zmiňovaných entity</a></li>
                <li><a class="mylink" asp-area="" asp-controller="Home" asp-action="Stylometry">Analýza stylu a podobnosti politiků</a></li>
            </ul>
        </p>
        <p class="chart-subtitle">
            Pro každého politika je navíc k dispozici profil s detailnější analýzou. Většina dat pochází z roku 2019, ale u 10 vybraných politiků sledujeme vývoj mezi lety 2016 až 2022.
        </p>
    </div>


</div>
<div class="search-container">

    <div class="search-box">
        <input type="text" id="search" placeholder="Vyhledat politika" autocomplete="off">
        <button class="search-btn">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <ul id="suggestions" class="list-group mt-2" style="display:none;"></ul>
</div>


<div class="sentiment_page">

    <div class="left-panel-main">
        <div class="chart-card" style="margin-bottom:15px">
        <div class="mycontainer">
            <div class="row justify-content-center g-4" style="margin-bottom: 8px;">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="stat-box">
                        <p class="stat-label">Počet vyjádření</p>
                        <p class="stat-number" id="totalStatements">0</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="stat-box">
                        <p class="stat-label">Počet politiků</p>
                        <p class="stat-number" id="totalPersons">0</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="stat-box">
                        <p class="stat-label">Průměrný počet vyjádření</p>
                        <p class="stat-number" id="avgStatementsPerPerson">0</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="stat-box">
                        <p class="stat-label">Medián počtu vyjádření</p>
                        <p class="stat-number" id="medianStatementsPerPerson">0</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center g-4" style="margin-bottom: 8px;">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="stat-boxTW">
                        <p class="stat-labelS">Počet vyjádření Twitter</p>
                        <p class="stat-numberS" id="totalStatementsTW">0</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="stat-boxTW">
                        <p class="stat-labelS">Počet politiků Twitter</p>
                        <p class="stat-numberS" id="totalPersonsTW">0</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="stat-boxFB">
                        <p class="stat-labelS">Počet vyjádření Facebook </p>
                        <p class="stat-numberS" id="totalStatementsFB">0</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="stat-boxFB">
                        <p class="stat-labelS">Počet politiků Facebook </p>
                        <p class="stat-numberS" id="totalPersonsFB">0</p>
                    </div>
                </div>
            </div>
        </div>
        </div>


        <div class="myrow">


            <div class="chart-card">
                <div class="chart-header">
                    <h3 class="chart-title">Počet příspěvků</h3>
                    <p class="chart-subtitle">Počet příspěvků v jednotlivých letech</p>
                </div>
                <div class="chart-container-sm" id="count_years"></div>
                <div class="chart-footer">
                    <span><a class="mylink" asp-area="" asp-controller="Home" asp-action="StatementCount">Více o frekvenci příspěvků &#10230;</a></span>
                </div>
            </div>

            <div class="chart-card">
                <div class="chart-header">
                    <h3 class="chart-title">Počet příspěvků na platformách</h3>
                    <p class="chart-subtitle">Facebook, Twitter+Retweety</p>
                </div>
                <div class="chart-container-sm" id="server_count"></div>
                <div class="chart-footer">
                    <span><a class="mylink" asp-area="" asp-controller="Home" asp-action="StatementCount">Více o frekvenci příspěvků &#10230;</a></span>
                </div>
            </div>

            <div class="chart-card">
                <div class="chart-header">
                    <h3 class="chart-title">Sentiment v příspěvcích</h3>
                    <p class="chart-subtitle">Rozložení sentimentu od -1 do 1 </p>
                </div>
                <div class="chart-container-sm" id="polaritybar"></div>
                <div class="chart-footer">
                    <span><a class="mylink" asp-area="" asp-controller="Home" asp-action="Sentiment">Více o sentimentu &#10230;</a></span>
                </div>
            </div>

        </div>

        <div class="myrow">


            <div class="chart-card">
                <div class="chart-header">
                    <h3 class="chart-title">Zmiňované entity</h3>
                    <p class="chart-subtitle">Nejčastěji zmiňované entity různých typů</p>
                </div>
                <div class="chart-container-sm" id="nerAll"></div>
                <div class="chart-footer">
                    <span><a class="mylink" asp-area="" asp-controller="Home" asp-action="NER">Více o subjektech  &#10230;</a></span>
                </div>
            </div>

            <div class="chart-card">
                <div class="chart-header">
                    <h3 class="chart-title">Zmiňované entity</h3>
                    <p class="chart-subtitle">Nejčastěji zmiňované osoby</p>
                </div>
                <div class="chart-container-sm" id="nerNames"></div>
                <div class="chart-footer">
                    <span><a class="mylink" asp-area="" asp-controller="Home" asp-action="NER">Více o subjektech  &#10230;</a></span>
                </div>
            </div>
            <div class="chart-card">
                <div class="chart-header">
                    <h3 class="chart-title">Politické strany</h3>
                    <p class="chart-subtitle">Počet politiků v jednotlivých politických stranách</p>
                </div>
                <div class="chart-container-sm" id="partyBar"></div>
                <div class="chart-footer">
                    
                </div>
            </div>


        </div>
        <div class="myrow">


            <div class="chart-card">
                <div class="chart-header">
                    <h3 class="chart-title">Emoce v příspěvcích</h3>
                    <p class="chart-subtitle">Nejčastěji používané emoce v příspěvcích</p>
                </div>
                <div class="chart-container-sm" id="emoce_distribuce"></div>
                <div class="chart-footer">
                    <span><a class="mylink" asp-area="" asp-controller="Home" asp-action="Emotions">Více o emocích  &#10230;</a></span>
                </div>
            </div>





        </div>


    </div>

    <div class="right-panel-main">
        <table id="statementsTable" class="table styled-table">
            <thead>
                <tr>

                    <th>Osoba</th>
                    <th>Počet příspěvků</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>

</div>


