@{
    ViewData["Title"] = "Home Page";
    var stCount = ViewBag.st_count as Dictionary<string, int>;
    var server_count = ViewBag.server_count;
}
@using PoliticStatements.Models
<script>
    var allPieChartData = @Html.Raw(Json.Serialize(ViewBag.allpiecharts));
    var sentHist = @Html.Raw(Json.Serialize(ViewBag.sentHist));
    var emotionData = @Html.Raw(Json.Serialize(ViewBag.emotionData));

    var piechartAll = @Html.Raw(Json.Serialize(ViewBag.piechartAll));
    var sentimentAll = @Html.Raw(Json.Serialize(ViewBag.sentimentAll));
    var emotionAll = @Html.Raw(Json.Serialize(ViewBag.emotionAll));
    var piechartAll_names = @Html.Raw(Json.Serialize(ViewBag.piechartAll_names));


    var neg_names = @Html.Raw(Json.Serialize(ViewBag.neg_names));
    var neg_mix= @Html.Raw(Json.Serialize(ViewBag.neg_mix));


    var pos_names = @Html.Raw(Json.Serialize(ViewBag.pos_names));
    var pos_mix = @Html.Raw(Json.Serialize(ViewBag.pos_mix));

    var emotionnermix = @Html.Raw(Json.Serialize(ViewBag.emotionsNerMix));
    var emotionnernames = @Html.Raw(Json.Serialize(ViewBag.emotionsNerNames));
    var stCountYears = @Html.Raw(Json.Serialize(ViewBag.st_count_years));
    var server_count = @Html.Raw(Json.Serialize(ViewBag.server_count));
    function drawPieChart(data,id, politicId, entity) {



        var chartData = {
            labels: data.map(function (e) { return e.entityText; }),
            values: data.map(function (e) { return e.frequency; }),
            type: 'pie',
            marker: {
                colors: ['#FF5733', '#33FF57', '#3357FF', '#FF33A8', '#FFFF33']
            },
            textinfo: 'label', // Ukáže label a procentuální hodnotu na segmentech
            textposition: 'inside', // Text bude umístěn uvnitř segmentů
            hoverinfo: 'label+value'

        };

        var layout = {
            title: "",
            margin: { t: 10, r: 15, b: 10, l: 15 },
            showlegend: false,

            height: 300,
            width: 350,
        };


        if (politicId != "" && entity != "") {
            var chartId = 'chart-' + politicId + '-' + entity;
            Plotly.newPlot(chartId, [chartData], layout);
        } else {
            console.log(data)
            console.log(id)
            Plotly.newPlot(id, [chartData], layout);
        }
    }



    function drawHistogram(data,id, politicId, entity) {


        var histogramData = data

        var trace = {
            x: histogramData,
            type: 'histogram',
            xbins: { size: 0.2 },
            marker: { color: 'rgba(54, 162, 235, 0.6)' }
        };

        var layout = {
            title: 'Rozložení sentimentu',
            xaxis: { title: '', range: [-1, 1] },
            width: 400,
            height: 350,
            margin: {
                l: 35,
                r: 35,
                t: 45,
                b: 45
            }
        };


        if (politicId != "" && entity != "") {
            var chartId = 'hist-' + politicId + '-' + entity;
            Plotly.newPlot(chartId, [trace], layout);
        } else {

            Plotly.newPlot(id, [trace], layout);
        }



    }
    function drawEmotionDist(data,id, politicId, entity) {

        var emotionData = data;


        var emotions = emotionData.map(function (item) { return item.emotion; });
        var counts = emotionData.map(function (item) { return item.count; });


        var data = [{
            x: emotions,
            y: counts,
            type: 'bar'
        }];

        var layout = {
            title: 'Distribuce emocí ve vyjádřeních',
            font: {

                size: 12
            },
            width: 400,
            height: 350,
            margin: {
                l: 35,  // Levý okraj
                r: 35,  // Pravý okraj
                t: 45, // Horní okraj
                b: 45  // Dolní okraj
            }
        };

        if (politicId != "" && entity != "") {
            var chartId = 'emotion-' + politicId + '-' + entity;
            Plotly.newPlot(chartId, data, layout);
        } else {

            Plotly.newPlot(id, data, layout);
        }
    }

    function plotPoliticianData(politicianId) {
        
        

        if (stCountYears[politicianId]) {
            var data = [{
                x: Object.keys(stCountYears[politicianId]),
                y: Object.values(stCountYears[politicianId]),
                type: 'bar', 
                marker: {
                    color: 'rgba(55, 128, 191, 0.7)', 
                    line: {
                        color: 'rgba(55, 128, 191, 1)',
                        width: 1
                    }
                },
                text: Object.keys(stCountYears[politicianId]),
                hoverinfo: 'text+y', 
            }];

            var layout = {
                title: 'Počet vyjádření',
                xaxis: {
                    title: '',
                    tickangle: -45, 
                    tickmode: 'array'
                },
                yaxis: {
                    title: '',
                    tickformat: ',.0f', 
                    rangemode: 'tozero'
                },
                barmode: 'group',
                width: 400,
                height: 350,
                margin: {
                    l: 35,
                    r: 35,
                    t: 45,
                    b: 45
                },
                plot_bgcolor: '#f9f9f9',
                paper_bgcolor: '#ffffff',
                font: {
                    family: 'Arial, sans-serif', 
                    size: 14, 
                    color: '#333' 
                },
                hoverlabel: {
                    bgcolor: '#ffffff',
                    font: {
                        color: '#333',
                    }
                }
            };

            Plotly.newPlot('count_years_' + politicianId, data, layout);
        } 
    }

    function server_bar(politic_id) {
        var data = server_count[politic_id];
        console.log(data)

        var facebookCount = data.facebook;
        var twitterCount = data.twitter;
        var retweetCount = data.retweets;
        var normalTweetCount = data.normalTweets;

       
        var chartData = [
            {
                x: ['Facebook'],
                y: [facebookCount,  ], 
                type: 'bar',
                name: 'Facebook',
                marker: {
                    color: '#3b5998', 
                }
            }, 
            {
                x: ['Twitter'],
                y: [normalTweetCount],
                type: 'bar',
                name: 'Normální tweety',
                marker: {
                    color: '#1da1f2',
                }
            },
            {
                x: ['Twitter'],
                y: [retweetCount],
                type: 'bar',
                name: 'Retweety',
                marker: {
                    color: '#ff5733', 
                }
            }
           
        ];

        
        var layout = {
            title: {
                text: 'Počet příspěvků na serverech',
                
            },
            xaxis: {
                title: '',            
            },
            yaxis: {
                title: '',
                
            },
            width: 400,
            height: 350,
            margin: {
                l: 35,
                r: 35,
                t: 45,
                b: 45
            },
            barmode: 'stack', 
            showlegend: true, 
           
        };


        Plotly.newPlot('server_count_'+politic_id, chartData, layout);
    }

    document.addEventListener("DOMContentLoaded", function () {

        drawEmotionDist(emotionAll,"emotionAll", "", "")
        drawHistogram(sentimentAll, "sentimentAll","", "")
        drawPieChart(piechartAll,"nerAll","", "")
        drawPieChart(piechartAll_names, "nerNames", "", "")

        drawPieChart(neg_names, "neg_names", "", "")
        drawPieChart(neg_mix, "neg_mix", "", "")
        
        drawPieChart(pos_names, "pos_names", "", "")
        drawPieChart(pos_mix, "pos_mix", "", "")

        console.log(emotionnermix)
        for (var emotion in emotionnermix) {
            var id=emotion+'-nermix'
            drawPieChart(emotionnermix[emotion],id,"","")
        }
        for (var emotion in emotionnernames) {
            var id = emotion + '-nernames'
            drawPieChart(emotionnernames[emotion], id, "", "")
        }
        for (var politicId in allPieChartData) {
            if (allPieChartData.hasOwnProperty(politicId)) {
                var entities = allPieChartData[politicId];
                showSimilarPoliticians(politicId)
                plotPoliticianData(politicId)
                server_bar(politicId)
                for (var entity in entities) {
                    if (entities.hasOwnProperty(entity)) {
                        var data = entities[entity];
                        drawPieChart(data,"", politicId, entity);
                    }
                    var histData = sentHist[politicId][entity]
                    drawHistogram(histData,"", politicId, entity);
                    var eData = emotionData[politicId][entity]
                    drawEmotionDist(eData,"", politicId, entity)

                }
            }
        }


    });


    var similarities = @Html.Raw(Json.Serialize(ViewBag.top_sim));
    console.log(similarities)
    function showSimilarPoliticians(politik) {
        if (!similarities[politik]) {
            document.getElementById("similarPoliticians").innerHTML = "<div class='alert alert-warning'>Politik nenalezen.</div>";
            return;
        }

        let container = document.getElementById("similarPoliticians");
        container.innerHTML = `<h3 class="text-primary mt-3">Nejpodobnější politici k <strong>${politik}</strong></h3>`;

        let row = document.createElement("div");
        row.className = "row mt-3";

        similarities[politik].forEach(item => {
            let col = document.createElement("div");
            col.className = "col-md-4";

            col.innerHTML = `
                    <div class="card shadow-sm border-primary mb-3">
                        <div class="card-body text-center">
                            <h5 class="card-title text-dark">${item.name}</h5>
                            <p class="card-text text-muted">Similarita: <strong>${(item.similarity * 100).toFixed(2)}%</strong></p>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: ${(item.similarity * 100).toFixed(0)}%;" aria-valuenow="${(item.similarity * 100).toFixed(0)}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                `;

            row.appendChild(col);
        });

        container.appendChild(row);
    }
</script>
<div class="clearfix">
    @foreach (var politic_segment in ViewBag.allpiecharts as Dictionary<string, Dictionary<string, List<EntityFrequency>>>)
    {
        string politicId = politic_segment.Key;
        <h3>@politicId</h3>
        <div id="allinfo">
            <div class="card">
                <div class="card-header">
                    <h3>Základní statistiky</h3>
                </div>
                <div class="card-body">
                    <div class="grid">
                        <div class="block">
                            <div class="count-box">
                                <h4>Počet vyjádření</h4>
                                <p>
                                    @if (stCount != null && stCount.ContainsKey(politicId))
                                    {
                                        @stCount[politicId]
                                    }
                                    else
                                    {
                                        <span class="error-message">Data nejsou k dispozici</span>
                                    }
                                </p>
                            </div>
                        </div>

                        <div class="block">
                            <div id="count_years_@politicId"></div>
                        </div>
                        <div class="block">
                            <div id="server_count_@politicId"></div>
                        </div>
                        <div class="block">
                            <div id="emotionAll"></div>
                        </div>
                        <div class="block">
                            <div id="sentimentAll"></div>
                        </div>
                        <div class="block">
                            <div id="nerAll"></div>
                        </div>
                        <div class="block">
                            <div id="nerNames"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Negativní vyjádření</h3>
                </div>
                <div class="card-body">
                    <div class="grid">
                        <div class="block">
                            <h4>Zmiňovaní politici</h4>
                            <div id="neg_names"></div>
                        </div>
                        <div class="block">
                            <h4>Zmiňované entity</h4>
                            <div id="neg_mix"></div>
                        </div>
                        <div class="block">
                            <h4>Témata</h4>
                            <div id="neg_topics"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Pozitivní vyjádření</h3>
                </div>
                <div class="card-body">
                    <div class="grid">
                        <div class="block">
                            <h4>Zmiňovaní politici</h4>
                            <div id="pos_names"></div>
                        </div>
                        <div class="block">
                            <h4>Zmiňované entity</h4>
                            <div id="pos_mix"></div>
                        </div>
                        <div class="block">
                            <h4>Témata</h4>
                            <div id="pos_topics"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>Emoce</h3>
                </div>
                <h4>Nejčastější entity</h4>
                <div class="card-body">
                    <div class="grid">
                        @foreach (var emotion in ViewBag.emotionsNerMix.Keys)
                        {
                        <div class="block">

                            <h5>@emotion</h5>
                            <div id="@emotion-nermix"></div>
                        </div>
                        }

                    </div>
                </div>
                <h4>Nejčastější osoby</h4>
                <div class="card-body">
                    <div class="grid">
                        @foreach (var emotion in ViewBag.emotionsNerNames.Keys)
                        {
                            <div class="block">

                                <h4>@emotion</h4>
                                <div id="@emotion-nernames"></div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>Politici s podobným stylem psaní</h3>
                </div>
               
                <div class="card-body">
                    <div id="similarPoliticians" class="mt-4"></div>
                </div>
               
            </div>
        </div>


        <div id="charts-container">
            <h4>Nejzmiňovanější osoby</h4>

            <div class="entity-charts">
                @foreach (var entity in ViewBag.allpiecharts[politicId].Keys)
                {
                    <div class="entity-card">
                        <div class="entity-header">
                            <span class="entity-title">@entity</span>
                        </div>
                        <div class="entity-body">
                            <div class="chart-container" id="hist-@politicId-@entity"></div>
                            <div class="chart-container" id="chart-@politicId-@entity"></div>
                            <div class="chart-container" id="emotion-@politicId-@entity"></div>
                        </div>
                    </div>
                }
            </div>

        </div>
    }
</div>








